<div class="container-fluid headerpage">
  <div class="row">
  <div class="col-md-2 amsterdam_logo">
  <img src="assets/images/Ströhl-HA-Wappen_Amsterdam.png" alt="Amsterdam logo" class="Logo_amsterdam">
  </div>
<div class= "col-md-2">
  <p class="subtitle">Today is {{currentDate | date:'dd/MM/yyyy' }}</p>
</div>
  <div class="col-md-4">
<p class="title">E-Bikes Amsterdam</p>
  </div>
  <div class= "col-md-2">
    <p class="subtitle">Get your kicks on route 66!</p>
  </div>
    <div class="col-md-2 fietsbord">
      <img src="assets/images/fietsbord.png" alt="Fietsbord" class="Logo_fietsbord">
    </div>
  </div>
</div>
