<div class="row">

<div class="col-6 table-responsive">
  <h4>Overview of all trips:</h4>
  <table class="table-md table-bordered">
  <tr>
    <th>Trips start-dates: </th>
  </tr>
  <tr *ngFor="let trip of trips; index as i">
    <td (click)="onSelected(i)" [ngClass]="activeIndex == i? 'highlight' : ''"> Trip {{i+1}}: {{ trip.start | date: "dd/MM/yyyy"}} </td>
  </tr>
  </table>
  <button class="button btn-primary" (click)="onAddTrip()">Add Trip</button>
</div>
<div class="col-6">
  <app-detail2 (deleteTrip)="deleteRequest($event)" (savedTrip)="saveRequest($event)" [editedTrip]="selectedTrip" [activeIndex2]="activeIndex"></app-detail2>
</div>
</div>
